
{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1>Bienvenid@ a Re-Fores-Ta</h1>
<div>
    {{ render(controller(
        'App\\Controller\\EventsController::listEvents'
    )) }}
</div>
{% endblock %}
